<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="db.properties"/>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<!-- package 내 클래스명이 별칭으로 사용됨  -->
		<package name="kh.mclass.semitkit.product.model.dto"/>
		<package name="kh.mclass.semitkit.member.model.dto"/>
	</typeAliases>
	
	<environments default="semitDbServer">
		<environment id="semitlacalhost">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver"/>
				<property name="url" value="${jdbc.semi.localhost.url}"/>
				<property name="username" value="${jdbc.semi.username}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>
		<environment id="semitDbServer">
			<transactionManager type="JDBC"></transactionManager>
				<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.semi.dbserver.url}" />
				<property name="username" value="${jdbc.semi.username}" />
				<property name="password" value="${jdbc.semi.password}" />
			</dataSource>
		</environment>
		<environment id="scottLocalhost">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.semi.localhost.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mappers/product-mapper.xml"/>
	</mappers>


</configuration>